/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

input {
    font-size: 14px;
}

body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    margin-bottom: 16px;
}

label {
    display: block;
    font-size: 14px;
    margin-bottom: 8px;
    color: #777;
}

input {
    border: 1px solid #eeeeee;
    padding: 12px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
}

button {
    cursor: pointer;
    padding: 0px;
    background: transparent;
    border: none;
    border-radius: none;
    color: black;
    font-size: 10px;
    transition: background .3s ease;
    font-family: 'Montserrat', sans-serif;
}



button:disabled {
    cursor: default;
    color: #727272;
}

/* Join Page Styles */

/* .centered-form {
    background: #333744;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
} */

.centered-form__box {
    box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
    background: #F7F7FA;
    padding: 30px;
    width: 300px;
    margin-left: 40%;
    margin-top: 10%;
}
.centered-form__box h1{
    padding-left: 35%;
}
.centered-form button {
    width: 100%;
    border-radius: 30px;
}

.centered-form input {
    margin-bottom: 16px;
    width: 100%;
}
.image{
    width: 250px;
}

/* Chat Page Layout */

.chat {
    display: flex;
}

.chat__sidebar {
    height: 100vh;
    color: white;
    background: #333744;
    width: 225px;
    overflow-y: scroll
}

/* Chat styles */

.chat__main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.chat__messages {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    overflow-y: scroll;
}

/* Message Styles */

.message {
    margin-bottom: 16px;   
}

.message__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.message__meta {
    color: #777;
    font-size: 10px;
}

.message a {
    color: #0070CC;
    text-decoration: none;
}

/* Message Composition Styles */

.compose {
    display: flex;
    flex-shrink: 0;
    margin-top: 16px;
    padding: 24px;
}

.compose form {
    display: flex;
    flex-grow: 1;
    margin-right: 16px;
}

.compose input {
    border: 1px solid #eeeeee;
    width: 50%;
    padding: 12px;
    padding-left: 20px;
    border-radius: 30px;
    margin: 0 20px 0 0;
    flex-grow: 1;
}

.compose button {
    font-size: 20px;
}

/* Chat Sidebar Styles */

.room-title {
    font-weight: 400;
    font-size: 22px;
    background: #2c2f3a;
    padding: 24px;   
}

.list-title {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 4px;
    padding: 12px 24px 0 24px;
}

.users {
    list-style-type: none;
    font-weight: 300;
    padding: 12px 24px 0 24px;
}
.login{
    cursor: pointer;
    padding: 12px;
    background:#6b47b8;
    border: none;
    border-radius: none;
    color: white;
    font-size: 12px;
    transition: background .3s ease;
    font-family: 'Montserrat', sans-serif;
}
.login:hover{
    background: #7C5CBF;
    
    transition: all 0.2s ease-out;
}
.developer{
    margin:16px 10px 0 45px;
    font-size: 10px;
}
.developer a{
    text-decoration: none;
}


@media (max-width:360px){

    .centered-form__box {
        box-shadow: 0px 0px 17px 1px rgba(0,0,0,0.2);
        background: #F7F7FA;
        padding: 30px;
        width: 360px;
        height: 100vh;
        margin-left: 0%;
        margin-top: 0%;
    }
    .centered-form__box h1{
        padding-left: 35%;
    }
    .centered-form button {
        width: 100%;
        border-radius: 30px;
    }
    
    .centered-form input {
        margin-bottom: 16px;
        width: 100%;
    }
    .image{
        width: 300px;
    }

    .message__name {
        
        font-size: 12px;
        
    }
    .message__meta {
        
        font-size: 8px;
    }
    .greeting{
        font-size: 14px;
    }
    .chat__sidebar {
        height: 100vh;
        color: white;
        background: #333744;
        width: 150px;
        overflow-y: scroll
    }
    .room-title {
        font-weight: 600;
        font-size: 16px;
        background: #2c2f3a;
        padding: 25px;   
    }
    .list-title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 4px;
        padding: 12px 24px 0 24px;
    }
    .users {
        list-style-type: none;
        font-weight: 200;
        padding: 12px 24px 0 24px;
        font-size: 11px;
    }
    button {
        cursor: pointer;
        padding: 0px;
        background: transparent;
        border: none;
        border-radius: none;
        color: black;
        font-size: 4px;
        transition: background .3s ease;
        font-family: 'Montserrat', sans-serif;
    }
    .compose button{
        font-size: 14px;
    }
    button:hover {
        background: none;
    }
    
    button:disabled {
        cursor: default;
        color: #727272;
    }
    .location{
        font-size: 14px;
    }
    .compose input {
        border: 1px solid #eeeeee;
        width: 100%;
        padding: 8px;
        border-radius: 30px;
        padding-right: 100px;
        margin: 0 10px 0 0;
        flex-grow: 1;
        
    }
    .compose input placeholder{
       font-size: 5px;
    }
    .compose{
        padding: 16px;
    }
    .developer{
        padding-top: 20px;
        margin:16px 10px 0 80px;
        font-size: 10px;
    }
}

@media (max-width:375px){

    .message__name {
        
        font-size: 12px;
        
    }
    .message__meta {
        
        font-size: 8px;
    }
    .greeting{
        font-size: 14px;
    }
    .chat__sidebar {
        height: 100vh;
        color: white;
        background: #333744;
        width: 150px;
        overflow-y: scroll
    }
    .room-title {
        font-weight: 600;
        font-size: 16px;
        background: #2c2f3a;
        padding: 25px;   
    }
    .list-title {
        font-weight: 500;
        font-size: 14px;
        margin-bottom: 4px;
        padding: 12px 24px 0 24px;
    }
    .users {
        list-style-type: none;
        font-weight: 200;
        padding: 12px 24px 0 24px;
        font-size: 11px;
    }
    button {
        cursor: pointer;
        padding: 0px;
        background: transparent;
        border: none;
        border-radius: none;
        color: black;
        font-size: 4px;
        transition: background .3s ease;
        font-family: 'Montserrat', sans-serif;
    }
    .compose button{
        font-size: 14px;
    }
    button:hover {
        background: none;
    }
    
    button:disabled {
        cursor: default;
        color: #727272;
    }
    .location{
        font-size: 14px;
    }
    .compose input {
        border: 1px solid #eeeeee;
        width: 100%;
        padding: 8px;
        border-radius: 30px;
        padding-right: 100px;
        margin: 0 10px 0 0;
        flex-grow: 1;
        
    }
    .compose input placeholder{
       font-size: 5px;
    }
    .compose{
        padding: 16px;
    }
}

